<h1>Add products to <%= farm.name %></h1>

<form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <br>
        <label for="price">Price:</label>
        <input type="text" name="price">
        <br>
        <label for="category">Category:</label>
        <select name="category">
            <option value="diary">diary</option>
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
        </select>
        <br>
        <button>Submit</button>
</form>
<a href="/farms/<%= farm._id %>">back</a>